.controls {
  grid-column: 1;
  grid-row: 2;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.controls-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.controls-button > svg {
  width: 24px;
  height: 24px;
  display: block;
}
